.page-title {
  position: relative;
  display: block;
  text-align: center;
  top: 5em;
  margin: auto !important;
}

#food-container {
  position: relative;
  margin: 7em;
}

#food-container {
  margin-left: auto;
  margin-right: auto;
  
}

.container, .row {
  padding: 0; /* Remove padding from container and row */
  margin: 0; /* Remove margin from container and row */
}

/*If Empty Fav*/
.empty-fav {
  border: 2px solid white;
  padding: 40px 50px;;
  text-align: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: gray;
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  max-width: 600px;
  border-radius: 10px;
}

/*Footer Container*/
footer .container {
  margin: auto;
}

.food-in {
  min-height:44vh;
}


.content {
  min-height: 100vh;;
}
