@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --font-base: "Poppins";
    --color-black: #31303a;
    --color-bronze: #cd7f32;
    --color-gold: #ffd700;
    --color-grey: #cccccc;
    --color-purple: #7d2ae8;
    --color-red: #c21807;
    --color-silver: #b0abab;
    --color-white: #fefefe;
    --color-yellow: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--font-base), sans-serif;
}

body {
    background-color: var(--color-white);
}

section {
    margin-top: 3.75rem;
    margin-bottom: 12.5rem;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    word-break: break-word;
    color: var(--color-red);
}

.navbar .navbar-brand {
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .navbar-brand:hover {
    color: var(--color-red);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .navbar-nav .nav-item a {
    border-bottom: 0.125rem solid transparent;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.navbar .navbar-nav .nav-item a:hover,
.navbar .navbar-nav .nav-item a.active {
    color: var(--color-red);
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.btn-contact-us {
    cursor: pointer;
    position: relative;
    padding: 0.5rem 1.5rem;
    border: 0.125rem solid var(--color-red);
    border-radius: 9rem;
    color: var(--color-red);
    background-color: transparent;
    font-weight: 600;
    overflow: hidden;
    transition: scale 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-contact-us::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3rem;
    height: 3rem;
    border-radius: inherit;
    background-color: var(--color-red);
    scale: 0;
    z-index: -1;
    transition: scale 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-contact-us:hover::before {
    scale: 3;
}

.btn-contact-us:hover {
    color: var(--color-white);
    scale: 1.1;
    box-shadow: 0 0 1.25rem var(--color-grey);
}

.card {
    border: none;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem var(--color-grey);
    transition: 0.3s ease;
}

.jumbotron {
    padding: 3rem;
}

#weekly-leaderboard .jumbotron {
    background: linear-gradient(to bottom, var(--color-red) 50%, transparent 50%);
}

#weekly-leaderboard h1 {
    color: var(--color-white);
}

#weekly-leaderboard .card {
    transition: 0.3s ease;
}

#weekly-leaderboard .card:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease;
}

#weekly-leaderboard .card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.top-1 .card:hover {
    box-shadow: 0 0 5rem 0 var(--color-gold);
}

.top-2 .card:hover {
    box-shadow: 0 0 5rem 0 var(--color-silver);
}

.top-3 .card:hover {
    box-shadow: 0 0 5rem 0 var(--color-bronze);
}

.medal {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    color: var(--color-white);
}

.medal-gold {
    background-color: var(--color-gold);
}

.medal-silver {
    background-color: var(--color-silver);
}

.medal-bronze {
    background-color: var(--color-bronze);
}

#popular-malaysian-dishes .card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.btn-fav {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.125rem;
    color: var(--color-grey);
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-fav:hover {
    background-color: var(--color-red);
    color: var(--color-white);
    transition: 0.3s ease;
}

.btn-fav.clicked {
    animation: click-animation 0.3s ease-out forwards;
}

#featured-news .card img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

#featured-news .card img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

#recommended-restaurant .card {
    width: 100%;
    height: 18.75rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

#recommended-restaurant .card:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

#recommended-restaurant .card a {
    width: 100%;
    height: 100%;
}

#recommended-restaurant .card a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-go-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--color-grey);
    color: var(--color-white);
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}



.btn-go-to-top.show {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease;
}

.btn-go-to-top:hover {
    background-color: var(--color-red);
    transition: 0.3s ease;
}

@media (min-width: 992px) {

    .navbar .navbar-nav .nav-item a:hover,
    .navbar .navbar-nav .nav-item a.active {
        color: var(--color-red);
        border-bottom: 0.125rem solid var(--color-red);
        transition: border-bottom 0.3s ease, color 0.3s ease;
    }

    .top-1 {
        transform: translateY(-2rem);
    }
}

@keyframes click-animation {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}


/* #video .container {
    object-fit: cover;
} */


/* .card-img-left {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin: 15px;
    border-radius: 5%;
}


#news .card-body {
    height: 100px;
}

#news .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

#news .card {
    height: 145px;
} */

/* .bottom-right-card {
    position: absolute;
    right: 1250px;
} */

/* .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
} */


/* .card {
    background-color: #1c1c1c;
    color: white;
    border: none;
}
.card-title {
    font-size: 1rem;
    font-weight: bold;
}
.card-text {
    font-size: 0.9rem;
}
.card-footer {
    font-size: 0.8rem;
    color: #bbbbbb;
} */

/* .card img {
    width: 40px;
    height: 40px;
    object-fit: cover;
} */

/* #breaking-news .custom {
    background-image: url('https://letsenhance.io/static/03620c83508fc72c6d2b218c7e304ba5/11499/UpscalerAfter.jpg');
    background-size: cover;
    background-position: center;
    width: 100%; 
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* #news img {
    width: 75px;
    height: 75px;
}

#breaking-news img {
    height: 45px;
} */